{% extends "base.html" %}

{% block content %}
<div class="edit-note">
    <h2>Редактировать заметку</h2>
    
    <form method="POST" action="{{ url_for('update_note', note_id=note.id) }}">
        {{ form.csrf_token }}
        
        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=50) }}
            {% if form.title.errors %}
                <div style="color: red;">{{ form.title.errors[0] }}</div>
            {% endif %}
        </div>
        
        <div>
            {{ form.content.label }}<br>
            {{ form.content(rows=5, cols=50) }}
            {% if form.content.errors %}
                <div style="color: red;">{{ form.content.errors[0] }}</div>
            {% endif %}
        </div>
        
        <div>
            {{ form.submit() }}
            <a href="{{ url_for('index') }}">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}


